_{{name}}.frame = {{ ui.frame }};

        _{{name}}.titleLabel.textColor = {{ ui.titleColor }};
        [_{{name}} setTitle:@"{{ ui.title }}" forState:UIControlStateNormal];
        {% if ui.image %}[_{{name}} setImage:[UIImage imageNamed:@"{{ ui.image }}"] forState:UIControlStateNormal]; {% endif %}
        {% if ui.backgroundImage %}[_{{name}} setbackgroundImage:[UIImage imageNamed:@"{{ ui.backgroundImage }}"] forState:UIControlStateNormal]; {% endif %}
        [_{{name}} addTarget:self action:@selector({{ name }}TouchUpInside:) forControlEvents:UIControlEventTouchUpInside];



