
#import "{{name}}.h"

@interface {{name}} (){{ protocolStr }}

{{props}}

@end

@implementation {{name}}

- (id)initWithStyle:(UITableViewCellStyle)style reuseIdentifier:(NSString *)reuseIdentifier
{
	if (self = [super initWithStyle:style reuseIdentifier:reuseIdentifier])
	{
		{{subviews}}
		[self p_addMasonry];
	}
	return self;
}
#pragma mark - # Event Response
{% for button in buttons%}
- (void){{button}}TouchUpInside:(UIButton *)sender
{	
}
{% endfor %}



#pragma mark - # Private Methods
- (void)p_addMasonry
{

{% for control in controls%}
	[self.{{control}} mas_makeConstraints:^(MASConstraintMaker *make)
	{
	}];
{% endfor %}
}


#pragma mark - # Getter
{{getters}}

@end
